<!DOCTYPE html>
<html>
  <head>
  	<link rel='stylesheet' href='/css/mud_style.css'>
    <title></title>
  </head>
  <body>
  <h4>You are standing in a dark corridor. To the west is a door labelled 'win'. To the east is a door labelled 'don't win'. Do you go (W)est) or (E)ast?</h4>
  <form action='/' method='POST'>
  	<input type='text' name='decision' placeholder='Which direction?'>
  	<button>W/E?</button>
  </form>
  </body>
</html>